body {
    /* background-color: #5d5f5d; */
    /* background-color: #5c0056; */
    /* background-color: #db2c00; */
    /* background-color: #000acc; */
    /* background-color: #c4e7ff; */
    background-color: #000000;
    background-image: url(http://www.transparenttextures.com/patterns/concrete-wall-2.png);
    /* background-image: url(../assets/images/concrete-wall-2.png); */
}

#targetscore,
#playerscore,
#wins,
#losses {
    height: 50px;
    background-color: lightsteelblue;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

p,
h1 {
    font-family: 'Dosis', sans-serif;
}

#instructions {
    background-color: gray;
    padding-left: 10px;
    margin-top: 20px;
}

#scorebox {
    margin-top: 20px;
    padding-top: 10px;
    background-color: lightsteelblue;
    padding-left: 15px;
    padding-right: 15px;
    height: 325px;
    border-style: solid;
    border-width: 2px;
    border-color: #353434;
}

p {
    line-height: .5;
}

.jumbotron {
    background-color: #010101;
}