#targetscore,
#playerscore,
#wins,
#losses {}

p,
h1 {
    font-family: 'Dosis', sans-serif;
}

#instructions {
    background-color: #240441e7;
}

#scorebox {
    background-color: #240441e7;
}

p {
    line-height: .5;
}

.jumbotron {
    background-color: #010101;
}


/* orange */

c1 {
    background-color: #db2c00;
}


/* blue */

c3 {
    background-color: #000acc;
}


/* purple */

c4 {
    background-color: #5c0056;
}


/* black */


/* For the white one? */

c6 {
    background-color: #f54e64;
}