
/* orange */
c1 {
background-color: #db2c00;
}

/* turquoise */
c2 {
background-color: #008c85;
}
/* blue */
c3 {
background-color: #000acc;
}

/* purple */
c4 {
background-color: #5c0056;
}
/* black */
c5 {
background-color: #131c06;
background-color: #0d0305;
}
/* For the white one? */
c6 {
background-color: #ad2638;
}
